/* ===================== */
/* DESKTOP               */
/* ===================== */
.author-section {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.author-section img {
  width: 100%;
  height: 80%;            /* 80% de la hauteur du conteneur */
  object-fit: cover;
  display: block;
  position: absolute;
}

.author-description {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 40%;
  color: white;
  text-align: left;
  z-index: 2;
}

.author-section h1 {
  margin-bottom: 20px;
}

.author-section p {
  font-size: 18px;
  line-height: 1.4;
}


.origin-text {
  margin: 0 50px 30px 0;
  padding: 0 200px;
  text-align: center;
}

.company-birth {
  margin: 0 45px 70px 45px;
  position: relative;
}


.company-values {
  margin: 0 45px 20px 45px;
  width: 370px;

}

.unique-projects {
  background-color: var(--yellow);
  border-radius: 15px;
  color: white;
  width: 650px;
  padding: 20px 130px 20px 40px;
  margin-top: 40px;
}

.orange-brick-image {
  width: 400px;
  position: absolute;
  z-index: 10;
  left: 440px;
  bottom: -415px;
}

.about-description {
  margin: 0 150px;
}

.name-meaning {
  margin: 20px 45px 20px 45px;
}

.name-meaning > img {
  height: 90px;
}

.name-meaning > :nth-child(2) {
  font-style: italic;
  margin-bottom: 10px;
}

.name-meaning span {
  font-style: italic;
  font-weight: bold;
}


.sun-background{
  position: absolute;  
  top: 700px;
  left: 430px;
  height: auto;
  z-index: 0;
}


/* ===================== */
/* MOBILE (max-width:768px) */
/* ===================== */
@media (max-width: 768px) {
  .author-section {
    height: auto;
    min-height: 50vh;
    padding-bottom: 0;
    position: relative;
  }

  .author-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: none;
    object-fit: contain;
    top: 0;
    left: 0;
  }

  .author-description {
    position: absolute;
    transform: none;
    top: 50%;
    left: auto;
    max-width: 100%;
    margin: 0;
    padding: 1.5rem 1.25rem;
    text-align: left;
    margin-top: -3rem;
  }

  .author-description h1 {
    font-size: clamp(24px, 6vw, 32px);
    margin-bottom: 0.75rem;
  }

  .author-description p {
    font-size: 15px;
    line-height: 1.5;
  }

  .origin-text {
    margin: 2rem 0;
    padding: 0 1.25rem;
    text-align: left;
  }

  .company-birth {
    margin: 2rem 1.25rem 3rem;
    padding: 0;
    text-align: left;
  }

  .company-values {
    margin: 2rem 1.25rem;
    width: auto;
    text-align: left;
  }

  .yellow-block {
    width: auto;
    margin: 2rem 1.25rem;
    padding: 1.25rem 1.5rem;
    text-align: left;
  }

  .orange-brick-image {
    width: 180px;
    left: auto;
    right: 1rem;
    bottom: -150px;
    transform: none;
  }

  .about-description {
    margin: 2rem 1.25rem;
    text-align: left;
  }

  .name-meaning {
    margin: 2rem 1.25rem;
    text-align: left;
  }

  .name-meaning > img {
    height: 70px;
    margin-bottom: 1rem;
  }

  .unique-projects {
    background-color: var(--yellow);
    border-radius: 15px;
    color: white;
    width: auto;

  }

  .sun-background {
    width: 150px;
    top: auto;
    left: -30px;
    transform: none;
    opacity: 0.3;
  }
}